*{
    box-sizing: border-box;

}


.header{
    width: 100%;
    background-color: darkviolet;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.nav{
    width: 100%;
    background-color: firebrick;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    text-transform: capitalize;
}
.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.left{
     width: 60%;
     /* background-color: gold; */
     height: 900px;

}
.right{
    width: 40%;
    /* background-color: blue; */
    height: 900px;
    padding-left: 2px;
}
.firstleft{
    height: 440px;
    background-color: coral;

}
.secondleft{
    height: 440px;
    background-color: cornflowerblue;
    margin-top: 20px;
}
.firstright{
    height: 290px;
    background-color: crimson;
}
.secondright{
    height: 290px;
    background-color: cyan;
    margin-top: 15px;
}
.thirdright{
    height: 290px;
    background-color: cornflowerblue; 
    margin-top: 15px;
}
.footer{
    height: 50px;
    background-color: dodgerblue;
    color: white;
    margin-top: 5px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}